body {
    font: 3.5vw arial;
    color: #222;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #EBF4FB;
}

p {
    margin: 0;
    padding: 0;
}

input {
    font: 3.5vw arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    background: #fff;
    height: 60vh;
    width: 90vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 1px solid #ACD8F0;
    overflow: auto;
}

#usermsg {
    width: 74vw;
    border: 1px solid #ACD8F0;
    margin-right: 1vw;
}

#submit {
    width: 15vw;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

#exit {
    float: right;
}